/** @format */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oregano:regular,italic);

@tailwind base;
@tailwind components;
.footer-links {
  @apply text-footerLink text-[14px] font-[500];
}

@tailwind utilities;

body {
  font-family: "Roboto", "Oregano", sans-serif;
}

::selection {
  background-color: #000000;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Slider */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots li button:before {
  color: #fff !important;
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.slick-dots li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  margin: 0 5px !important;
}

.slick-dots {
  bottom: -20px !important;
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  font-size: 60px;
  color: #115061;
  border-radius: 100%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  /* padding: 10px; */
  /* background-color: white; */
}

.slick-prev {
  left: -100px;
}

.slick-next {
  right: -100px;
}

@media screen and (max-width: 768px) {
  .slick-dots {
    bottom: -150px !important;
  }
}

@media screen and (max-width: 480px) {
  .slick-dots {
    bottom: -60px !important;
  }
}
